<section data-section-id="reset-password" data-section-type="reset-password">
  <div class="Container">
    <div class="PageContent PageContent--fitScreen PageContent--extraNarrow">
      {%- form 'create_customer', name: 'create_customer', class: 'Form Form--spacingTight', id: 'create_customer' -%}
        <header class="Form__Header">
          <h1 class="Form__Title Heading u-h1">{{ 'customer.register.title' | t }}</h1>
          <p class="Form__Legend">{{ 'customer.register.description' | t }}</p>
        </header>

        {%- if form.errors -%}
          <div class="Form__Alert Alert Alert--error">
            <ul class="Alert__ErrorList">
              {%- for field in form.errors -%}
                {%- if field == 'form' -%}
                  <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                {%- else -%}
                  <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        {%- if request.locale.iso_code == 'ja' -%}
          <div class="Form__Item">
            <input type="text" class="Form__Input" name="customer[last_name]" aria-label="{{ 'customer.register.last_name' | t }}" placeholder="{{ 'customer.register.last_name' | t }}">
            <label class="Form__FloatingLabel">{{ 'customer.register.last_name' | t }}</label>
          </div>

          <div class="Form__Item">
            <input type="text" class="Form__Input" name="customer[first_name]" aria-label="{{ 'customer.register.first_name' | t }}" placeholder="{{ 'customer.register.first_name' | t }}" autofocus>
            <label class="Form__FloatingLabel">{{ 'customer.register.first_name' | t }}</label>
          </div>
        {%- else -%}
          <div class="Form__Item">
            <input type="text" class="Form__Input" name="customer[first_name]" aria-label="{{ 'customer.register.first_name' | t }}" placeholder="{{ 'customer.register.first_name' | t }}" autofocus>
            <label class="Form__FloatingLabel">{{ 'customer.register.first_name' | t }}</label>
          </div>

          <div class="Form__Item">
            <input type="text" class="Form__Input" name="customer[last_name]" aria-label="{{ 'customer.register.last_name' | t }}" placeholder="{{ 'customer.register.last_name' | t }}">
            <label class="Form__FloatingLabel">{{ 'customer.register.last_name' | t }}</label>
          </div>
        {%- endif -%}

        <div class="Form__Item">
          <input type="email" class="Form__Input" name="customer[email]" aria-label="{{ 'customer.register.email' | t }}" placeholder="{{ 'customer.register.email' | t }}" required="required">
          <label class="Form__FloatingLabel">{{ 'customer.register.email' | t }}</label>
        </div>

        <div class="Form__Item">
          <input type="password" class="Form__Input" name="customer[password]" aria-label="{{ 'customer.register.password' | t }}" placeholder="{{ 'customer.register.password' | t }}" required="required">
          <label class="Form__FloatingLabel">{{ 'customer.register.password' | t }}</label>
        </div>

        <div class="Form__Item">
          <input type="checkbox" id="agree_to_marketing" />
          <label style="display:inline; float:none; font-size: 0.9em" for="agree_to_marketing">
            Yes, I want to get notified about new product launches, special offers and new educational content.
          </label>
        <div class="Form__Item">

        <script>
          let checkbox = document.querySelector('#agree_to_marketing');
          let theForm = document.forms['create_customer'];

          function addHidden(theForm) {
            var input = document.createElement('input');
            input.type = 'hidden';
            input.id = 'hidden_marketing_accept';
            input.name = 'customer[accepts_marketing]'; 
            input.value = true;
            theForm.appendChild(input);
          }
          
          checkbox.addEventListener('change', ()=>{
            if (document.querySelector('#agree_to_marketing').checked) {
              addHidden(theForm);
            } else {
              theForm.removeChild(document.querySelector('#hidden_marketing_accept'));
            }
          })
        </script>

        <button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'customer.register.submit' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</section>