<style>
    .blog-container {
            max-width: 1140px;
            width: 100%;
            margin: 80px auto;
            padding: 0 15px;
        }

        .inner-banner-head {
            width: 100%;
            margin-bottom: 40px;
        }

        .cus-grid {
            width: 100%;
            display: grid;
         
        }
        .gs2{
           grid-gap: 0;
        }
        .gc2{
            grid-template-columns: 100% 0%;
        }

        .align-bottom {
            align-items: flex-end;
        }

        .inner-blog-title {
            width: 100%;
        }

        .inner-blog-title h1 {
            font-weight: bold;
            font-size: 45px;
            line-height: 45px;
            color: #222222;
  			font-family: "GT-Eesti", sans-serif !important;
          	text-transform: lowercase;
        	letter-spacing: .05em;
        
        }

        .inner-blog-title p {
            font-weight: normal;
            font-size: 16px;
            color: #222222;
            margin-bottom: 20px;
        }

        .inner-blog-head-info p {
            font-weight: normal;
            font-size: 16px;
            text-align: right;
            color: #222222;
        }

        .main-inner-blog-img {
            width: 100%;
            height: 400px;
            border-radius: 20px;
            overflow: hidden;
        }

        .main-inner-blog-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .inner-banner-content {
            width: 100%;
            z-index: 9;
            margin-top: -50px;
            background: #F9F7F2;
            border-radius: 30px;
            max-width: 990px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            padding: 70px;
            padding-bottom: 120px;
        }

        .inner-banner-content p {
            font-size: 16px;
            line-height: 24px;
            color: #222222;
        }

        .inner-banner-content p a {
            color: #B8695B;
          	text-decoration: underline;
        }

        .inner-banner-content p a:hover {
            color: #D58778;
            -webkit-text-decoration-color: rgba(213, 135, 120, 0.6);
            text-decoration-color: rgba(213, 135, 120, 0.6);
        }
  		
  .ShareButtons__Item{
  color: #ebbaa3;
    width:35px;
    height:inherit;
        border:none !important;
     outline:none !important;
    background:none;
    width:35px;
  }
  .ShareButtons__Item:hover{
  	background:none !important;
    border:none !important;
     outline:none !important;
    color:#D58778 !important;
    
  }
  
.cus-row{
 	grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap: 30px;
  
}
  
.cus-blog-img img{
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  max-height: 220px;
  min-height: 220px;
  height: 100%;
  object-fit: cover;
}
  
  
.cus-blog-content h3{
  margin: 15px 0 0 0;
  font-size: 16px;
  font-family: 'GT-Eesti';
  letter-spacing: .05em;
  text-transform: lowercase;
}
  
.cus-blog-content p{
  	font-size: 16px;
    font-weight: 300;
    margin: 20px 0 30px 0;
}
  
.cus-blog-content span{
	color: #B8695B;
    text-decoration: underline;
    font-family: 'GT-Eesti';
    font-size: 16px;
    text-transform: lowercase;
    letter-spacing: .05em;
}
  
.cus-blog-content span:hover {
    text-decoration: none;
    color: #D58778;
}
  
#shopify-section-article-template h2{
  font-size: 36px;
    font-weight: 600;
  font-family: "GT-Eesti", sans-serif !important;
  color: #000;
  

}

#shopify-section-article-template .inner-banner-content {
    overflow: hidden;
}
  
.blog-sec h2{
  border-top: 1px solid #222222;
  padding-top: 60px;
}
  
.blog-sec .cus-row{
  grid-template-columns: 1fr;
}
  
.blog-sec .cus-row ul{
  display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 12px 30px;
    list-style-type: none;
  flex-wrap: wrap;
}
.blog-sec .cus-row ul li{
 color: #B8695B; 
  font-weight:bold;
  font-size: 16px;
  
}
  
  @media only screen and (max-width: 767px) {
            .main-inner-blog-img {
            height: 300px;
            }
            .inner-banner-content {
            width: 90%;
            padding: 40px;
            }
       .cus-row{
 	grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
}
    
   #shopify-section-article-template h2{
     font-size: 26px;
   }
    
.blog-sec h2{
 padding-top: 40px; 
}
   
.blog-sec .blog-container {
  margin-top: 40px;
}
    
.inner-banner-content img {
    float: none !important; 
}     


    
    
    
 }

        @media only screen and (max-width: 500px) {
            .gc2{
            grid-template-columns: repeat(1, 1fr);
        }
           .inner-blog-head-info p {
            text-align: left;
        }
             .gs2{
           grid-gap: 40px;
        }
        }
  
  
.inner-banner-content img {
    border-radius: 37px;
    float: left;
    padding: 6px 20px 10px 10px;
}  

.iframe-video p:first-child {
    height: 350px;
}

@media only screen and (min-width: 800px) {

    .iframe-video p:first-child  {
        height: 400px;
    }
}
  
iframe {
    width: 100%;
    height: 100%;
}
</style>




{%- assign share_url = shop.url | append: article.url -%}
{%- assign twitter_text = article.title -%}
{%- assign pinterest_description = article.description | strip_html | truncatewords: 15 | url_param_escape -%}
{%- assign pinterest_image = article.image | img_url: '750x' | prepend: 'https:' -%}



<div class="blog-container">
        <!-- /////////// -->
        <div class="inner-banner-head">
            <div class="cus-grid gc2 gs2 align-bottom">
                <div class="inner-blog-title">
                    <p>{%- if section.settings.show_date -%}
            <span class="Article__MetaItem">{{ article.published_at | date: format: 'month_day_year' }}</span>
          {%- endif -%}</p>
                    <h1>{{ article.title }}</h1>
                </div>
                <div class="inner-blog-head-info">
                    {%comment%}<p>{{ 'blog.article.now_reading' | t }}</p>{%endcomment%}
                </div>

            </div>
        </div>
        <!-- /////////// -->
        <div class="main-inner-blog-img">
            <img src="{{ article.image | img_url: '800x' }}">
        </div>
        <!-- /////////// -->
        <div class="inner-banner-content">
            <div {%if article.handle == 'news/a-creative-evolution-meet-makesy' %}class="iframe-video"{% endif %}>
          		{{ article.content }}
            </div>
          
          
            {%- capture article_footer -%}
            {%- if section.settings.show_author -%}
            {% comment %}<span class="Article__Author Heading Text--subdued u-h6">{{ 'blog.article.written_by' | t: author: article.author }}</span>{% endcomment %}
          	<span class="Article__Author Heading Text--subdued u-h6">written by makesy</span>
            {%- endif -%}

        {%- if section.settings.show_share_buttons -%}
          <div class="Article__ShareButtons ShareButtons">
            <a class="ShareButtons__Item ShareButtons__Item--facebook" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener">{%- render 'icon' with 'facebook' -%}</a>
            <a class="ShareButtons__Item ShareButtons__Item--twitter" href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener">{%- render 'icon' with 'twitter' -%}</a>
            <a class="ShareButtons__Item ShareButtons__Item--pinterest" href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener">{%- render 'icon' with 'pinterest' -%}</a>
          </div>
        {%- endif -%}
      {%- endcapture -%}

      {%- if article_footer != blank -%}
        <footer class="Article__Footer">
          {{ article_footer }}
        </footer>
      {%- endif -%}
        </div>

    </div>


<section class="blog-reco-sec">
  <div class="blog-container">
    <h2>you may also like...</h2>
     
    <div class="cus-row">
      
	{%- for article in blog.articles limit: 3 -%}
   		
      <div class="cus-blog">
          <a href="{{article.url}}">
            <div class="cus-blog-img">
            	<img src="{{article.image | img_url: 'master'}}">
            </div>
          	<div class="cus-blog-content">
              <h3> {{article.title}}</h3>
              <p>{{ article.excerpt_or_content | strip_html | truncate: 100 }}...</p>
              <span>Read More</span>
            </div>
          </a>
        </div>
      
      
	{% endfor %}
      
      
    </div>
</div>
</section>

<section class="blog-sec">
<div class="blog-container">
  <h2>browse by category.</h2>
  <div class="cus-row">
    <ul>
      {% comment %}
{% for tag in blog.tags limit: 6 %}
    <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a></li>
{% endfor %}
      
      {% endcomment %}
      
      {{section.settings.post_tags}}
      
    </ul>  
    <header class="blog-post-footer-nav">
        <div class="SectionHeader SectionHeader--center">


            <ul class="Blog__TagList HorizontalList HorizontalList--spacingExtraLoose">
              <li class="HorizontalList__Item">
                <a href="/blogs/{{ blog.handle }}" class="Heading Link Link--primary Text--subdued u-h8 BlogFilterItem {% if current_tags == blank %}is-active{% endif %}">{{ 'blog.general.all_tag' | t }}</a>
              </li>
              <li class="HorizontalList__Item">
                <a href="/blogs/{{ blog.handle }}/tagged/how-to" class="Heading Link Link--primary Text--subdued u-h8 BlogFilterItem {% if current_tags contains 'How To'  %}is-active{% endif %}">HOW TO</a>
              </li>
              <li class="HorizontalList__Item">
                <a href="/blogs/{{ blog.handle }}/tagged/inspiration" class="Heading Link Link--primary Text--subdued u-h8 BlogFilterItem {% if current_tags contains 'Inspiration'  %}is-active{% endif %}">INSPIRATION</a>
              </li>
               <li class="HorizontalList__Item">
                <a href="/blogs/{{ blog.handle }}/tagged/projects" class="Heading Link Link--primary Text--subdued u-h8 BlogFilterItem {% if current_tags contains 'PROJECTS'  %}is-active{% endif %}">PROJECTS</a>
              </li>
              <li class="HorizontalList__Item">
                <a href="/blogs/{{ blog.handle }}/tagged/spotlights" class="Heading Link Link--primary Text--subdued u-h8 BlogFilterItem {% if current_tags contains 'SPOTLIGHTS'  %}is-active{% endif %}">SPOTLIGHTS</a>
              </li>
               <li class="HorizontalList__Item">
                <a href="/blogs/{{ blog.handle }}/tagged/business-101" class="Heading Link Link--primary Text--subdued u-h8 BlogFilterItem {% if current_tags contains 'BUSINESS 101'  %}is-active{% endif %}">BUSINESS 101</a>
              </li>



              {%comment%}
              {%- for tag in blog.all_tags -%}
                <li class="HorizontalList__Item">
                  <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}" class="Heading Link Link--primary Text--subdued u-h8 {% if current_tags contains tag %}is-active{% endif %}">{{ tag }}</a>
                </li>
              {%- endfor -%}
              {%endcomment%}
            </ul>
   
        </div>
      </header>
 </div>
  </div>
</section>







{% schema %}
{
  "name": "Blog post page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_article_image",
      "label": "Show article image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show article date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show article category",
      "info": "The first article's tag is used as the main category.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    },
    {
      "type": "html",
      "id": "post_tags",
      "label": "Enter Post Tags"
    }
  ]
}
{% endschema %}