
{% assign is-wick-collection = true%}
{% render 'shogun-products', content: collection %}
{{collection.metafields.shogun.above}}
{% assign product_count = collections[collection.handle].all_products_count %}
{% paginate collections[collection.handle].products by product_count %}

{%for product in collections[collection.handle].products%}
<div class="wishl_icon_{{product.id}}" style="display:none;">
  {% render 'swym-product-view', product: product %}
  <button class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"></button>
  </div> 
{%endfor%}
{% endpaginate %}
{% section 'hero-makesy-category' %}

{% section 'collection-template' %}
{% section 'recently-viewed-products' %}
{% section 'collection-bottom-banner' %}
{{collection.metafields.shogun.below}}
