<section data-section-id="search" data-section-type="search">
    {%- if search.performed == false or search.results_count == 0 -%}
        <div class="EmptyState">
            <div class="Container">
                <h1 class="EmptyState__Title Heading u-h5">{{ 'search.general.title' | t }}</h1>

                {%- if search.performed -%}
                {%- assign filtered_terms = search.terms | replace: '*', '' -%}
                <p>{{ 'search.general.no_results_with_terms' | t: terms: filtered_terms }}</p>
                {%- else -%}
                <p>{{ 'search.general.content' | t }}</p>
                {%- endif -%}

                <div class="EmptyState__Action">
                    <form method="GET" action="{{ routes.search_url }}" class="Form">
                        <input class="Form__Input" type="text" name="q" autocomplete="off" autocorrect="off"
                            aria-label="{{ 'search.general.input_placeholder' | t }}"
                            placeholder="{{ 'search.general.input_placeholder' | t }}">
                        <input type="hidden" name="type" value="product">
                    </form>
                </div>
            </div>
        </div>
    {%- else -%}
        {%- paginate search.results by 36 -%}
            <header class="PageHeader">
                <div class="Container">
                    <div class="SectionHeader SectionHeader--center">
                        <h1 class="SectionHeader__Heading Heading u-h1">{{ 'search.general.title' | t }}</h1>

                        <div class="SectionHeader__Description">
                            {%- assign filtered_terms = search.terms | replace: '*', '' -%}
                            {{- 'search.general.results_with_terms_count' | t: count: search.results_count, terms: filtered_terms -}}
                        </div>
                    </div>
                </div>
            </header>
            <div class="Search__container">
                <div class="Search__items">
                    <div class="Search__items-product">
                        <h2 class="Search__items-header">Product Results</h2>
                        {%- for result in search.results -%}
                            {% if result.object_type == 'product' %}
                                {% comment %}
                                'result' is a product.
                                All product object properties can be accessed.
                                {% endcomment %}
                                    {% unless result.tags contains "hide" %}
                                            {%- render 'product-item', product: result, show_labels: true, show_product_info: true, show_vendor: false -%}
                                    {% endunless %}
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                    <div class="Search__items-article __desktop">
                        <h2 class="Search__items-header">Article Results</h2>
                        <div class="ArticleListWrapper">
                            {%- for result in search.results -%}
                                {% if result.object_type == 'article' or  result.object_type == 'page' %}
                                    {%- render 'article-item', article: result -%}
                                {%- endif -%}
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
            </div>
            {%- render 'pagination', paginate: paginate -%}
            <div class="Container __mobile">
                <h2 class="Search__items-header">Article Results</h2>
                <div class="Search__items-article">
                    {%- for result in search.results -%}
                        {% if result.object_type == 'article' %}
                            {%- render 'article-item', article: result -%}
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
            
        {%- endpaginate -%}
        
    {%- endif -%}
</section>